.App {
  max-width: 800px;
  border: 1px solid #c6a9a3;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  background-color: #c6a9a3;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 20px;
}

footer {
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #c6a9a3;
}

a:hover {
  cursor: pointer;
  color: black;
}

.container {
 padding: 0;
}


