.WeatherApp {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 18px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.WeatherApp form {
  display: block;
  padding: 16px;
}

.WeatherApp ul {
  list-style-type: none;
}

.WeatherApp h2 {
  text-transform: uppercase;
}

.WeatherApp .CurrentDate {
  font-size: 14px;
  background: #668a8a;
  color: white;
  line-height: 1.6;
}

.WeatherApp .WeatherInfo {
  padding: 20px;
}

.WeatherApp h1 {
  font-size: 38px;
  font-weight: 100;
}



.WeatherApp .form-control {
  display: block;
  width: 100%;
}