.Weather {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 18px;
  max-width: 720px;
  margin: 0 auto;

  text-align: center;
}

.Weather .date-time {
  font-size: 14px;
  background: #668a8a;
  color: white;
  border-radius: 18px 18px 0 0;
  padding: 10px;
  line-height: 1.6;
}

.Weather .WeatherInfo {
  padding: 20px;
}

.Weather h1 {
  font-size: 38px;
  font-weight: 100;
}
